.main {
  display: grid;
  place-items: center;
  grid-gap: 16px;
}

.main h3 {
  font-size: 20px;
}

.main h4 {
  font-size: 16px;
}

.main b {
  color: var(--pink);
}

.main svg {
  width: 64px;
  height: 64px;
}

.icons {
  display: flex;
}
.icons path {
  fill: var(--pink-dark);
}

.highlighted path {
  fill: var(--pink);
}
