.main {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--pink);
  background: var(--pink-darker);
  color: var(--pink);
  font-size: 18px;
  padding: 12px 16px;
  transition: all 0.2s;
  outline: none;
  font-family: var(--text-font);
}

.main:hover,
.clicked {
  background: var(--pink-dark);
}

.main:active,
.main:focus,
.clicked {
  outline: 1px solid var(--pink);
}
