.main {
  border: 1px solid var(--pink);
  background: var(--pink-darker);
  color: var(--pink);
  font-size: 18px;
  padding: 12px 16px;
  transition: all 0.2s;
  outline: none;
  font-family: var(--text-font);
}

.main:hover {
  background: var(--pink-dark);
}

.main:active,
.main:focus {
  outline: 1px solid var(--pink);
}
