.main {
  grid-area: p;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 32px;
}

.controls {
  display: flex;
  flex: 1;
}

.controls > * {
  flex: 1;
}

.radioVis {
  height: 62%;
  width: 100%;
  margin: auto;
}
