.main {
  grid-area: p;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.controls {
  display: flex;
  flex: 1;
}

.controls > * {
  flex: 1;
}

.radioVis {
  height: 70%;
  width: 100%;
}
