.main {
  grid-area: c;
}

.content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message {
  padding: 12px 16px;
  max-width: 410px;
  width: fit-content;
  font-size: 14px;
  line-height: 20px;
}

.message + .message {
  margin-top: 24px;
}

.name {
  font-size: 12px;
  margin: 0;
  font-weight: normal;
  max-width: 25ch;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text {
  margin: 0;
  hyphens: auto;
}

.friend {
  background: var(--blue-dark);
}
.friend .name {
  color: var(--blue);
}

.user {
  background: var(--pink-dark);
  margin-left: auto;
}
.user .name {
  color: var(--pink);
}

.police {
  background: var(--red-dark);
}
.police .name {
  color: var(--red);
}

.inputWrapper {
  height: 44px;
  display: flex;
}
.input {
  background: var(--pink-darker);
}

.sendButton {
  width: 80px;
  border: none !important;
}
