.main {
  height: calc(100vh - 1px);
  display: grid;
  grid-template-areas:
    "s s c"
    "g g c"
    "g g c"
    "g g p";
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
}
