.main {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background: white;
  border: 1px solid #eee;
  outline: none;
}

.main:hover {
  background: #eee;
}

.main:active,
.clicked {
  background: #ddd;
}

.lineWrapper {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.line {
  background: black;
}

.h {
  width: 100%;
  height: 1px;
}
.v {
  width: 1px;
  height: 100%;
}
