.main {
  width: 60px;
  height: 60px;
  position: relative;
}

.btn {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.1);
}

.btn:active,
.clicked {
  background: rgba(0, 0, 0, 0.2);
}

.btn:disabled,
.btn:disabled .lineWrapper {
  background: #444 !important;
}

.lineWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid #ddd;
  width: 100%;
  height: 100%;
}

.btn:hover .lineWrapper {
  background: #eee;
}

.btn:active .lineWrapper,
.clicked .lineWrapper {
  background: #ccc;
}

.line {
  background: #333;
}
.h {
  width: 100%;
  height: 2px;
}
.v {
  width: 2px;
  height: 100%;
}

.gridTracks {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

.sector {
  border: 1px solid #ddd;
}
