.main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-gap: 48px;
  place-items: center;
  place-content: center;
}

.main h2,
button {
  text-transform: uppercase;
}

.storyText {
  font-size: 18px;
  line-height: 28px;
  max-width: 600px;
  hyphens: auto;
  white-space: pre-wrap;
}

.finalChoice {
  justify-self: stretch;
  display: flex;
}

.finalChoice > * {
  flex: 1;
}
