html {
  --black: #0d0b16;
  --text: #dcc9dc;
  --pink: rgba(226, 0, 225, 1);
  --pink-dark: rgba(226, 0, 225, 0.35);
  --pink-darker: rgba(226, 0, 225, 0.1);
  --pink-header: rgba(226, 0, 225, 0.65);
  --blue-dark: rgba(13, 158, 232, 0.35);

  --text-font: "IBM Plex Mono";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: var(--black);
  color: var(--text);
  font-family: var(--text-font);
  font-size: 14px;
  line-height: 18px;
}

h2 {
  margin: 0;
  font-family: "Major Mono Display";
  font-size: 16px;
  line-height: 16px;
  color: #cc83cc;
}

body * {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
